.header {
  min-height: 11vh;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  background-color: darkgrey;
}

.login {
  width: 30%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.userName {
  font-family: Candara, serif;
  font-weight: 700;
  font-size: 20px;
  margin-right: 10%;
}

